*.xlsx
trail.ipynb
.venv
.vscode
A decision-making framework for precision marketing.pdf
Clustering Experiments on Big Transaction Data for Market Segmentation.pdf
The evolution of direct, data and digital marketing.pdf
__pycache__